<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.0.0/superhero/bootstrap.min.css" rel="stylesheet">

    <title>Map</title>
    <link rel="stylesheet" href="https://js.arcgis.com/3.20/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="https://js.arcgis.com/3.20/esri/css/esri.css">
     <style>
         html, body {padding: 0;  background-color: #2B3E50;}
         #map {position: absolute; margin-left: 25px; top: 75px; height: 650px;  width: 1000px;  border-radius: 5px; }
         #LocateButton {position: absolute; top: 125px; left: 20px; z-index: 50; background-color: white; border-radius: 10px; }
         #HomeButton {position: absolute; left:19px; top: 89px; z-index: 50; background-color: white; border-radius: 10px;}
         #BasemapToggle {position: absolute; left: 900px; top: 20px;  z-index: 50; }
         #mainWindow {position: absolute; right: 95px; top: 135px;  background-color: #ADB9C5; color: black;  width: 310px; height: 310px; border-radius: 5px; z-index: 50; text-align: center; }
     </style>
    <script src="https://js.arcgis.com/3.20/"></script>
    <script>
     (function() {
      var map;
      require([
        "esri/config",
        "esri/InfoTemplate",
        "esri/map",
        "esri/dijit/LocateButton",
        "esri/dijit/HomeButton",
        "esri/dijit/BasemapToggle",
        "esri/request",
        "esri/geometry/scaleUtils",
        "esri/layers/FeatureLayer",
        "esri/renderers/SimpleRenderer",
        "esri/symbols/PictureMarkerSymbol",
        "esri/symbols/SimpleFillSymbol",
        "esri/symbols/SimpleLineSymbol",
        "dojo/dom",
        "dojo/json",
        "dojo/on",
        "dojo/parser",
        "dojo/sniff",
        "dojo/_base/array",
        "esri/Color",
        "dojo/_base/lang",
        "dijit/layout/BorderContainer",
        "dijit/layout/ContentPane",
        "dojo/domReady!"
      ],
        function (
        esriConfig, InfoTemplate, Map, LocateButton, HomeButton,BasemapToggle, request, scaleUtils, FeatureLayer,
        SimpleRenderer, PictureMarkerSymbol, SimpleFillSymbol, SimpleLineSymbol,
        dom, JSON, on, parser, sniff, arrayUtils, Color, lang
      ) {
          parser.parse();
          var portalUrl = "https://www.arcgis.com";
          esriConfig.defaults.io.proxyUrl = "/proxy/";
          on(dom.byId("uploadForm"), "change", function (event) {
            var fileName = event.target.value.toLowerCase();
            if (sniff("ie")) { //filename is full path in IE so extract the file name
              var arr = fileName.split("\\");
              fileName = arr[arr.length - 1];
            }
            if (fileName.indexOf(".zip") !== -1) {//is file a zip - if not notify user
              generateFeatureCollection(fileName);
            }
            else {
              dom.byId('upload-status').innerHTML = '<p style="color:red">Please, follow the tutorial and try again</p>';
            }
          });
          map = new Map("map", {
                center: [28.67669, 50.26487],
                zoom: 2,
                basemap: "satellite"
              });

          var geoLocate = new LocateButton({
                map: map
              }, "LocateButton");
              geoLocate.startup();

          var home = new HomeButton({
                map: map
              }, "HomeButton");
              home.startup();

          var toggle = new BasemapToggle({
                map: map,
                basemap: "topo"
              }, "BasemapToggle");
              toggle.startup();
          function generateFeatureCollection (fileName) {
            var name = fileName.split(".");
            name = name[0].replace("c:\\fakepath\\", "");
            dom.byId('upload-status').innerHTML = "<p style='color:green'>" + 'Loading: '+ name  + "</p>";
            var params = {
              'name': name,
              'targetSR': map.spatialReference,
              'maxRecordCount': 1000,
              'enforceInputFileSizeLimit': true,
              'enforceOutputJsonSizeLimit': true
            };
            var extent = scaleUtils.getExtentForScale(map, 40000);
            var resolution = extent.getWidth() / map.width;
            params.generalize = true;
            params.maxAllowableOffset = resolution;
            params.reducePrecision = true;
            params.numberOfDigitsAfterDecimal = 0;
            var myContent = {
              'filetype': 'shapefile',
              'publishParameters': JSON.stringify(params),
              'f': 'json',
              'callback.html': 'textarea'
            };
            request({
              url: portalUrl + '/sharing/rest/content/features/generate',
              content: myContent,
              form: dom.byId('uploadForm'),
              handleAs: 'json',
              load: lang.hitch(this, function (response) {
                if (response.error) {
                  errorHandler(response.error);
                  return;
                }
                var layerName = response.featureCollection.layers[0].layerDefinition.name;
                dom.byId('upload-status').innerHTML = '<b>Loaded: </b>' + layerName;
                addShapefileToMap(response.featureCollection);
              }),
              error: lang.hitch(this, errorHandler)
            });
          }
          function errorHandler (error) {
            dom.byId('upload-status').innerHTML =
            "<p style='color:red'>" + error.message + "</p>";
          }
          function addShapefileToMap (featureCollection) {
            var fullExtent;
            var layers = [];
            arrayUtils.forEach(featureCollection.layers, function (layer) {
              var infoTemplate = new InfoTemplate("Details", "${*}");
              var featureLayer = new FeatureLayer(layer, {
                infoTemplate: infoTemplate
              });
              featureLayer.on('click', function (event) {
                map.infoWindow.setFeatures([event.graphic]);
              });
              //change default symbol if desired. Comment this out and the layer will draw with the default symbology
              changeRenderer(featureLayer);
              fullExtent = fullExtent ?
                fullExtent.union(featureLayer.fullExtent) : featureLayer.fullExtent;
              layers.push(featureLayer);
            });
            map.addLayers(layers);
            map.setExtent(fullExtent.expand(1.25), true);
            dom.byId('upload-status').innerHTML = "";
          }
          function changeRenderer (layer) {
            //change the default symbol for the feature collection for polygons and points
            var symbol = null;
            switch (layer.geometryType) {
              case 'esriGeometryPoint':
                symbol = new PictureMarkerSymbol({
                  'angle': 0,
                  'xoffset': 0,
                  'yoffset': 0,
                  'type': 'esriPMS',
                  'url': 'https://static.arcgis.com/images/Symbols/Shapes/BluePin1LargeB.png',
                  'contentType': 'image/png',
                  'width': 20,
                  'height': 20
                });
                break;
              case 'esriGeometryPolygon':
                symbol = new SimpleFillSymbol(SimpleFillSymbol.STYLE_SOLID,
                  new SimpleLineSymbol(SimpleLineSymbol.STYLE_SOLID,
                    new Color([112, 112, 112]), 1), new Color([136, 136, 136, 0.25]));
                break;
            }
            if (symbol) {
              layer.setRenderer(new SimpleRenderer(symbol));
            }
          }
        });
     }());
    </script>

  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="{% url 'home' %}">GisDevelopment</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'map' %}">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Projects</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Project 1, Part I: Modeling precipitation zones in Nebraska</a>
              <a class="dropdown-item" href="#">Project 1, Part II: Creating contours for the Fox Lake DEM</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="https://www.google.com.ua/search" method="GET" name="f">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="q" value="">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  <body>

  <body class="claro">
    <div id="map">
        <div id="BasemapToggle"></div>
        <div id="LocateButton"></div>
        <div id="HomeButton"></div></div>
     <div id="mainWindow" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design:'headline',gutters:false">
          <div data-dojo-type="dijit/layout/ContentPane" id="topPane" data-dojo-props="region:'top'">
              <form enctype="multipart/form-data" method="post" id="uploadForm">
                  <div class="field">
                  <label class="file-upload">
                      <p><strong>Add shapefile as .zip file</strong></p>
                      <span><em> Tutorial: <br>1. Create a .zip file that contains the .shp, .shx, .dbf, and .prj files that comprise the shapefile<br>
                      2. The shapefile must be less than 10 MB in size and have less than 4,000 point features or 2,000 line or polygon features;<br>
                      3. Compression formats other than a .zip archive are not supported. <hr></em></span>
                      <input type="file" name="file" id="inFile" />
                  </label></div>
              </form>
                  <span class="file-upload-status"  id="upload-status"></span>
                  <div id="fileInfo">&nbsp;</div></div></div>
        <div id="mapCanvas" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'"></div>
      </div>
</body>
</html>