{% extends 'gis/base.html' %}

{% block title %}
    What is GIS technology?
{% endblock %}

{% block content %}
    <div> <strong><h1>What is GIS technology?</h1></strong><br>
        <p>Geographic Information System (GIS) technology is the application of location
        analytics and gis location based analytics – using the science of geographical intelligence
        to analyse multiple, complex datasets layered over defined territories,
        revealing hidden trends and patterns.</p></div>
{% endblock %}
