{% extends 'gis/base.html' %}

{% block title %}
    History of GIS
{% endblock %}

{% block content %}
    <div> <strong><h1>History of GIS</h1></strong><br>
        <p>While maps have existed for as long as humans have been walking the earth, one of the first documented applications of a geographic information system (GIS) was by English physician, John Snow, in 1854.

By mapping the deaths caused by a cholera outbreak in Soho, London, Snow was able to identify the source of the epidemic as a public water pump that had been contaminated by a nearby cesspit.

His findings led to the removal of the pump’s handle and an end to the epidemic — and in the process highlighted the key role that mapping geographic information played in improving understanding of a situation and ensuring better decision making.

Fast forward more than a century later, Jack Dangermond, the father of modern-day GIS established Esri, launching the world’s first commercial GIS software — ARC/INFO — in 1982.

The software was reengineered in the late 1990s to develop a modular and scalable GIS platform designed to work on both desktop computers and across an enterprise. Essentially, this was the beginning of ArcGIS.

Since then, Esri has delivered further innovation through the ArcGIS Platform — available in both mobile and web environments — which continues to set global-standards for GIS deployments; and ArcGIS Online, which leverages the cloud to make GIS capabilities available to every business, government, household, student, and community group throughout the world.</p></div>
{% endblock %}